* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ysabeau Infant', sans-serif;
}

.secao_banner {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

video {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    object-fit: cover;
}

.container_principal {
    width: 768px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    text-align: center;
}

.container_info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.img_perfil {
    background-image: url('assets/neymar.jpg');
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_perfil::before {
    content: "";
    width: 215px;
    height: 215px;
    position: absolute;
    background: linear-gradient(90deg, #ffdf00, #009c3b);
    border-radius: 100%;
    z-index: -1;
}

.container_info h1 {
    position: relative;
    font-size: 50px;
    text-shadow: 2px 6px 3px #000;
    color: #fff;
}

.container_info h1::before {
    content: "";
    width: 55px;
    height: 5px;
    background: linear-gradient(90deg, #ffdf00, #009c3b);

    position: absolute;
    bottom: 2px;
    left: 5px;
    border-radius: 4px;
}

.container_info h1::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 12px;
    right: -20px;
    
    background-image: url('assets/verificado.png');
    background-size: cover;
}

.container_links {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container_links a {
    width: 100%;
    padding: 10px;
    border-radius: 18px;
    background-color: #0200006e;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 5px;

    font-size: 20px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}

.container_links a:hover {
    background-color: #fff;
    color: #000;
}

.container_links a p {
    width: 90%;
}

.container_links a img {
    width: 30px;
}

.secao_estatisticas {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url('assets/imagem-de-fundo.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container_estatisticas {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.container_estatisticas h2 {
    font-size: 70px;
    color: #fff;
    text-shadow: 3px 6px 1px #000000;
}

table th {
    padding: 20px;
    font-size: 26px;
    color: #fff;
    background-color: #000000cc;
}

table td {
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

.primeira_celula {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.primeira_celula img {
    width: 30px;
}

.primeira_celula p {
    width: 90%;
    text-align: left;

}

table tbody tr:nth-of-type(even) {
    background-color: #000000cc;
    color: #fff;
    font-weight: 700;
}

table tbody tr:nth-of-type(odd) {
    background-color: #ffffffcc;
    color: #000000;
    font-weight: 700;
}